.cabecalho__menu-hamburguer {
  width: 24px;
  height: 24px;
  background-image: url("../img/Menu.svg");
  background-repeat: no-repeat;
  background-position: center;  
  display: inline-block;  
}

.container__botao:checked ~ .container__rotulo > .cabecalho__menu-hamburguer {
  background-image: url("../img/menu_branco.svg");
}

.container__botao:checked ~ .container__rotulo {
  background: var(--azul-degrade);    
}

.cabecalho {
  background-color: var(--branco);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.container {
  display: flex;
  align-items: center;
}

.container__imagem {
  padding: 1em;
}

.lista-menu {
  display: none;
  position: absolute; /* só funciona quando o elemento pai é diferente de static */
  top: 100%;
  width: 60vw;
}

.container__botao:checked ~ .lista-menu {
  display: block;
}

.lista-menu__titulo,
.lista-menu__item {
  padding: 1em;
  background-color: var(--branco);
}

.lista-menu__titulo {
  color: var(--laranja);
  font-weight: 700;
}

.lista-menu__link {
  background: var(--azul-degrade);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-transform: uppercase;
}

.container__titulo,
.opcoes, 
.container__texto,
.container__botao {
  display: none;
}

@media screen and (min-width: 768px) {
  .cabecalho {
    justify-content: space-around;
  }
  
  .container__titulo,
  .container__titulo--negrito {
    font-family: var(--fonte-secundaria);
    font-size: 30px;
  }

  .container__titulo {
    font-weight: 400;
    display: block;
  }

  .container__titulo--negrito {
    font-weight: 700;    
  }

  .opcoes {
    display: flex;    
  }

  .opcoes__item {
    padding: 2em 1em;
    text-transform: uppercase;    
  }

  .opcoes__link {
    text-decoration: none;
    color: var(--preto);
  } 

  .opcoes__botao:checked ~ .lista-menu {
    display: block;
    width: auto;
  }

  .opcoes__botao:checked ~ .opcoes__rotulo > .opcoes__item {
    background: var(--azul-degrade);
    color: var(--branco);
  }

  .container__imagem-transparente,
  .cabecalho__menu-hamburguer, 
  .container__texto,
  .opcoes__botao {
    display: none;
  }

  .lista-menu__item:hover {
    background: var(--azul-degrade);    
  }

  .lista-menu__item:hover > .lista-menu__link {
    -webkit-text-fill-color: var(--branco);
    text-decoration: none;
  }
}

@media screen and (min-width: 1024px) {
  .cabecalho {
    justify-content: space-around;
    padding: 1em;
  }
  
  .container__link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--preto);
  }

  .cabecalho {
    padding: 0 2em;
  }

  .opcoes {
    margin-right: auto;
  }

  .container__texto {
    display: block;
  }
}

